<div id="modalLogin" class="modal">
    <div class="modal-content">
        <h4>Log in</h4>
        <div class="card-panel red lighten-2 valign-wrapper" data-ng-if="loginFailed">
            <i class="small material-icons left md-light">error_outline</i>
            <span class="white-text">Wrong username and/or password.</span>
        </div>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="login-username" type="text" data-ng-model="loginForm.username"
                           data-ng-keyup="$event.keyCode === 13 && submitForm()">
                    <label for="login-username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="login-password" type="password" data-ng-model="loginForm.password"
                           data-ng-keyup="$event.keyCode === 13 && submitForm()">
                    <label for="login-password">Password</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat" data-ng-click="cancel()" id="button-cancel">Cancel</a>
        <a href="#!" class="modal-action waves-effect waves-green btn-flat" data-ng-click="login()" id="button-login">Log in</a>
    </div>
</div>