<div id="grade-group-modal" class="modal">
    <div class="modal-content">
        <h4>Editing {{selectedGradeGroup.name}} <span class="badge">{{currentValue}}/{{maxValue}}</span></h4>
        <p>
            Students: {{selectedUser.firstName}} {{selectedUser.lastName}}
        </p>

        <form action="#">
            <div class="row">
                <div class="col s3">
                    Grade
                </div>
                <div class="col s3">
                    {{selectedUser.firstName.charAt(0)}}{{selectedUser.lastName.charAt(0)}}
                </div>
                <div class="col s3">
                    Slide to grade
                </div>
                <div class="col s3">
                    Comment
                </div>
            </div>
            <div class="row" data-ng-repeat="grade in selectedGradeGroup.grades">
                <div class="col s3">
                    {{grade.name}}
                </div>
                <div class="col s3">
                    {{selectedUser.gradesByGradeGroupGradeID[grade.id].value}}
                </div>
                <div class="col s3">
                    <p class="range-field">
                        <input type="range" id="grade-range-{{grade.id}}" ng-model="rangeValues[grade.id]"
                               min="{{grade.minValue}}" max="{{grade.maxValue}}" />
                    </p>
                </div>
                <div class="col s3">
                    <div data-comment data-grade="selectedUser.gradesByGradeGroupGradeID[grade.id]"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="" class="waves-effect waves-red btn-flat" data-ng-click="cancel()">Cancel</a>
        <a href="" class="waves-effect waves-green btn-flat" data-ng-click="save()">Save</a>
    </div>
</div>