<div class="card">
    <div class="card-content">
        <span class="card-title">Editing {{selectedGradeGroup.name}} <span class="badge">{{currentValue}}/{{maxValue}}</span></span>
        <p>
            Students:
            <span data-ng-repeat="selectedUser in selectedUsers">
                {{selectedUser.firstName + ' ' + selectedUser.lastName}}{{$last ? '' : ', '}}
            </span>
        </p>

        <form action="#">
            <div class="row">
                <div class="col s3">
                    Grade
                </div>
                <div class="col s3">
                    <span data-ng-repeat="selectedUser in selectedUsers">
                        {{selectedUser.firstName.charAt(0) + selectedUser.lastName.charAt(0)}}{{$last ? '' : ', '}}
                    </span>
                </div>
                <div class="col s3">
                    Slide to grade
                </div>
                <div class="col s3">
                    Comment
                </div>
            </div>
            <div class="row" data-ng-repeat="grade in selectedGradeGroup.grades">
                <div class="col s3">
                    <a ng-href="{{links[grade.id]}}" data-ng-if="links[grade.id]">{{grade.name}}</a>
                    <span data-ng-if="!links[grade.id]">{{grade.name}}</span>
                </div>
                <div class="col s3">
                    <span data-ng-repeat="selectedUser in selectedUsers">
                        {{selectedUser.gradesByGradeGroupGradeID[grade.id].value}}{{$last ? '' : ', '}}
                    </span>
                </div>
                <div class="col s3">
                    <p class="range-field">
                        <input type="range" id="grade-range-{{grade.id}}" ng-model="rangeValues[grade.id]"
                               min="{{grade.minValue}}" max="{{grade.maxValue}}" />
                    </p>
                </div>
                <div class="col s3">
                    <div data-comment data-text="comments[grade.id]"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-action">
        <a href="" class="btn-flat waves-effect waves-green" data-ng-click="save()">Save</a>
        <a href="" class="btn-flat waves-effect waves-red" data-ng-click="cancel()">Cancel</a>
    </div>
</div>