nav ul a,
nav .brand-logo {
  color: #444;
}

/* https://github.com/Dogfalo/materialize/issues/1690 */
label[data-error]:after {
  white-space: nowrap;
}

/* fix input placeholder left position, angular-materialize causes left: 0.75rem */
.input-field label {
  left: 0;
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

#logo-container img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}
