nav ul a,
nav .brand-logo {
  color: #444;
}

/* https://github.com/Dogfalo/materialize/issues/1690 */
label[data-error]:after {
  white-space: nowrap;
}

/* fix input placeholder left position, angular-materialize causes left: 0.75rem */
.input-field label {
  left: 0;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

#logo-container img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

/* parallax */
.parallax-container {
    min-height: 270px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

/* breadcrumbs */
.nav-wrapper .col {
    padding-left: 1rem;
}

/* Fancy table headings */
th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}

th.rotate > div {
    transform:
        /* Magic Numbers */
            translate(25px, 51px)
                /* 45 is really 360 - 45 */
            rotate(315deg);
    width: 30px;
}
th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

/* badge in collapsible */
.collapsible-header > .badge {
    margin-right: 10px;
}

[data-add-link] {
    padding: 30px;
}

.pad-left {
    padding-left: 30px;
}

.center-text {
    text-align: center;
}

.link-fill {
    display: block;
    width: 100%;
}

/*table tbody tr td:hover {*/
.highlight-on-hover:hover {
    background-color: #f2f2f2;
}

.range-field {
    margin-top: 0px;
}

.fixed-action-button {
    bottom: 45px;
    right: 24px;
}

/* Search box */
.input-field #search-input {
    border: 0;
    font-size: 175%;
    display: block;
    width: calc(100% - 4rem);
    margin: 5px 0 5px 0;
}

.input-field #search-input:focus {
    border: 0;
    box-shadow: none;
}

.no-margin {
    margin: 0;
}

.small-margin {
    margin-left: 5px;
}

.no-padding {
    padding: 0;
}