<!-- Modal Structure -->
<div modal-login></div>

<!-- Navigation -->
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#/view1">view1</a></li>
      <li><a href="#/view2">view2</a></li>
      <li><a ng-href="#modalLogin" modal ng-click="focusLogin()">Log in</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#/view1">view1</a></li>
      <li><a href="#/view2">view2</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>