<div class="container">
    <div class="row">
        <div class="col s12">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h5>Hello</h5>
                <p>Test test test.
                </p>
            </div>
        </div>
        <div class="col s3">
            <div class="collection">
                <a href="#!" class="collection-item">Web Applications</a>
                <a href="#!" class="collection-item active">User Interfaces</a>
                <a href="#!" class="collection-item">Economics</a>
            </div>
            <div class="section">
                <h5>Title</h5>
                <p>This is the partial for view 1.
                </p>
            </div>
            <ul class="collapsible popout" data-collapsible="accordion">
                <li ng-repeat="single in collapsibleElements">
                    <div class="collapsible-header">
                        <i class="{{single.icon}}"></i>{{single.title}}
                        <div class="progress">
                            <div class="determinate" style="width: {{single.amount}}%">
                            </div>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <p>{{single.content}}
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s9">
            <ul class="collection">
                <li class="collection-item avatar">
                    <i class="material-icons circle">assignment</i>
                    <span class="title">Week 3 </span>
                    <p>No points
                        <br> Subject: User Interfaces
                    </p>
                    <!--a href="" class="secondary-content" data-ng-click="toggleLinkForm()">
                        <i class="material-icons">playlist_add</i>
                    </a-->
                    <ul class="collection">
                        <li data-ng-if="week.links.length === 0 && !linkForm.isVisible" class="collection-item">
                            <i class="material-icons left">code</i>
                            <a href="" class="right" data-ng-click="toggleLinkForm(link)">
                                <i class="material-icons">playlist_add</i>
                            </a>
                            <p>Add link</p>
                        </li>
                        <li ng-repeat="link in week.links" class="collection-item">
                            <i class="material-icons left">code</i>
                            <a href="" class="right" data-ng-click="removeLink(link)">
                                <i class="material-icons">delete</i>
                            </a>
                            <p><a href="{{link}}" class="truncate">{{link}}</a></p>
                        </li>
                        <form data-ng-if="linkForm.isVisible">
                            <li class="collection-item">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="week-3-url" type="text" class="validate" ng-model="addLinkForm.link">
                                        <label for="week-3-url">URL
                                        </label>
                                    </div>
                                    <div class="input-field col s6">
                                        <button class="btn waves-effect waves-light" type="submit" name="addLink" ng-click="addLink()">Add
                                            <i class="material-icons right">send</i>
                                        </button>
                                        <button class="btn waves-effect waves-light" name="cancelAddLink" ng-click="cancelAddLink()">Cancel
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </form>
                    </ul>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle teal">done</i>
                    <span class="title">Week 2</span>
                    <p>8 points
                        <br> Subject: User Interfaces
                    </p>
                    <a href="" class="secondary-content">
                        <i class="material-icons">playlist_add</i>
                    </a>
                    <ul class="collection">
                        <li ng-repeat="single in collapsibleElements" class="collection-item">
                            {{single.title}}
                            <span class="badge">{{single.points}}/{{single.total}}</span>
                        </li>
                    </ul>
                </li>
                <li class="collection-item avatar">
                    <i class="material-icons circle teal">done</i>
                    <span class="title">Week 1</span>
                    <p>1 point
                        <br> Subject: User Interfaces
                    </p>
                    <a href="" class="secondary-content">
                        <i class="material-icons">playlist_add</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
